<div id="stations">
  <% @search_facade.stations.each do |station| %>
  <div class="card station" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title station-name"><%= station.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted station-address"><%= station.address %></h6>
      <p class="card-text station-type">Type: <%= station.type %></p>
      <p class="card-text station-distance">Distance: <%= station.distance %></p>
      <p class="card-text station-access-times">Accessible Times: <%= station.access_times %></p>
    </div>
  </div>
  <% end %>
</div>
